
.header {
  background: url(../img/1520025490_photo_banner_bg_1.jpg) no-repeat center top/cover;
  height: 100vh;
  position: relative;
  
  
}
  .menu {
    position: relative;
    background: rgba(0, 0, 0, 0.884);
    width:  auto; 
    height: 120px;
  }

  .all {
    width: 100%;
  }
  
.baner-img {
  padding: 17px 20px;
  position: absolute;
  box-sizing: border-box 
}

.nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  word-spacing: 20px;
  padding: 40px 300px;
  box-sizing: border-box;
}


.href {
  text-decoration: none;
  color: white;
}

.href:hover {
  cursor: pointer;
  border: 1px solid rgba(219, 115, 30, 0.671);
  border-radius: 10px;
}


.sub-conteiner {
  position: absolute;
  display: none;
}
  .ad:hover .sub-conteiner {
    display: block;
  }


.about-service {
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(170, 85, 35, 0.76)
}

.service {
  height: 600px;
  margin-left: 150px;
  margin-right: 150px;
  box-sizing: border-box;

}

.text-about {
  width: 600px;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  right: 20px;
  
}

.s2 {
  float: right;
  left: 20px;
   
}

.service2 {
  height: 600px;
  margin-left: 150px;
  margin-right: 150px;
  box-sizing: border-box;
}

.text-p {
  float: right;
  width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 16px;
}

.photo-team {
  float: left;
  right: 40px;
}

.footer-cont {
  margin: 50px 150px;
  position: absolute;

}

.footer {
  background-image: url(../img/footer_bg.jpg);
  height: 200px;
}




